.content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
