.homeContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.homeText {
  text-align: center;
  font-size: 2rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  gap: 10px;
}

.btnContainer button {
  width: 90px;
  height: 40px;
}
