.profileContainer {
  background-color: #f5f5f5;
  color: black;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
  margin-top: 10vh;
  border-radius: 30px;
}

.profileContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 40px;
}

.profileInfo {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.profileContainer button {
  width: 150px;
  height: 40px;
  margin-top: 40px;
}
